.Hgallery {
    padding: 60px 20px;
    font-family: 'Sora', sans-serif;
}

.Hgallery-title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.Hgallery-title::after {
    content: "";
    width: 80px;
    height: 3px;
    background: #0d6efd;
    display: block;
    margin: 10px auto 0;
    border-radius: 10px;
}

.Hgallery-grid {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.Hgallery-item {
    overflow: hidden;
    border-radius: 16px;
    position: relative;
    transform: translateY(40px);
    opacity: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}
.no-animation .Hgallery-item {
    opacity: 1;
    transform: none;
}
.Hgallery.show .Hgallery-item {
    animation: slideUp 0.8s ease forwards;
}
.Hgallery-item:hover {
    transform: translateY(-5px);
}

.Hgallery.show .Hgallery-item:nth-child(1) {
    animation-delay: 0.1s;
}

.Hgallery.show .Hgallery-item:nth-child(2) {
    animation-delay: 0.2s;
}

.Hgallery.show .Hgallery-item:nth-child(3) {
    animation-delay: 0.3s;
}

.Hgallery.show .Hgallery-item:nth-child(4) {
    animation-delay: 0.4s;
}

.Hgallery.show .Hgallery-item:nth-child(5) {
    animation-delay: 0.5s;
}

.Hgallery.show .Hgallery-item:nth-child(6) {
    animation-delay: 0.6s;
}

.Hgallery.show .Hgallery-item:nth-child(7) {
    animation-delay: 0.7s;
}

.Hgallery.show .Hgallery-item:nth-child(8) {
    animation-delay: 0.8s;
}

.Hgallery.show .Hgallery-item:nth-child(9) {
    animation-delay: 0.9s;
}

.Hgallery.show .Hgallery-item:nth-child(10) {
    animation-delay: 1s;
}

.Hgallery.show .Hgallery-item:nth-child(11) {
    animation-delay: 1.1s;
}

.Hgallery.show .Hgallery-item:nth-child(12) {
    animation-delay: 1.2s;
}

.Hgallery.show .Hgallery-item:nth-child(13) {
    animation-delay: 1.3s;
}

.Hgallery.show .Hgallery-item:nth-child(14) {
    animation-delay: 1.4s;
}

.Hgallery.show .Hgallery-item:nth-child(15) {
    animation-delay: 1.5s;
}

.Hgallery-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.Hgallery-item:hover img {
    transform: scale(1.1);
}

.Hgallery-item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
    opacity: 0;
    transition: 0.3s;
}

.Hgallery-item:hover::after {
    opacity: 1;
}

@keyframes slideUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .Hgallery-grid {
        grid-template-columns: 1fr;
    }

    .Hgallery-item img {
        height: 200px;
    }
}