@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Noto Sans Devanagari', 'Poppins', sans-serif;
}
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}
.section-light {
    background: #ffffff;
}

.section-dark {
    background: #f8f9fa;
}