.news-section {
    padding: 60px 20px;
    background: #f8f9fa;
    overflow: hidden;
}

.newsTitle {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}
.newsTitle::after {
    content: "";
    width: 80px;
    height: 3px;
    background: #0d6efd;
    display: block;
    margin: 10px auto 0;
    border-radius: 10px;
}

.newsContainer {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.newsCard {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0;
    transform: translateX(60px) scale(0.9);
    filter: blur(8px);
    visibility: hidden;
}

.news-section.show .newsCard {
    visibility: visible;
    animation: premiumReveal 4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.news-section.show .newsCard:nth-child(1) {
    animation-delay: 0.2s;
}

.news-section.show .newsCard:nth-child(2) {
    animation-delay: 0.5s;
}

.news-section.show .newsCard:nth-child(3) {
    animation-delay: 0.8s;
}

.newsCard img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.newsCard:hover img {
    transform: scale(1.1);
    transition: 0.5s;
}

.newsCard:hover {
    transform: translateY(-6px);
}

.newsoverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    transform: translateY(100%);
    transition: 0.4s;
}

.newsoverlay h4 {
    color: #fff;
    font-size: 16px;
}

.newsCard:hover .newsoverlay {
    transform: translateY(0);
}

@keyframes premiumReveal {
    0% {
        opacity: 0;
        transform: translateX(60px) scale(0.9);
        filter: blur(8px);
    }

    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
        filter: blur(0);
    }
}

@media (max-width: 768px) {
    .newsContainer {
        grid-template-columns: 1fr;
    }
.newsCard {
    width: 80%;
    margin: auto;
}
    .newsCard img {
        height: 250px;
    }

    .newsoverlay {
        transform: translateY(0);
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    }
}